.intro, .about-me, .skills, .achievements {
  margin: 0 auto;
  padding: 30px 0;
}

.project {
  max-width: 100%;
  margin: 0 30px;
}

.project-text {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.video-1 {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
}

@media (max-width: 768px) {
  .project { 
    margin: 0 10px; } 
  .project-text { 
    padding: 0 10px; }
  .intro, .about-me, .skills, .achievements { 
    padding: 20px 10px; 
  } 
}