.skills ul {
  list-style-type: none;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  margin: 0;
  padding: 0;
}

.skills ul li {
  margin: 0 20px;
  border: 1px solid white;
  border-bottom: 3px solid #ffffff;
  border-radius: 8px;
  padding: 10px;
}

.skills ul li:hover {
  border: 1px solid #22223b;
  border-bottom: 3px solid #22223b;
  background-color: #9999dd;
}

.achievements ul {
  list-style-type: none;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  margin: 0;
  padding: 0;
}

.achievements ul li {
  margin: 0 20px;
  border: 1px solid white;
  border-bottom: 3px solid #ffffff;
  border-radius: 8px;
  padding: 10px;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.about-me-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  width: 100%;  
}

.profile-pic {
  width: 300px;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
  flex-shrink: 0;
}

.about-text {
  
}

.skills,
.achievements {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.intro, .about-me, .skills, .achievements {
  margin: 0 auto;
  padding: 30px 0;
}

.project {
  max-width: 1000px;
  margin: 0 auto;
}


.tech-item {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  list-style: none;      
  margin: 10px;
}

.tech-item img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.video-1 {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
}