#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#intro, #about, #projects, #contact {
  border-radius: 8px;
  padding : 250px 20px;
  margin: 0;
}

body {
  margin: 0;
  background-color: #1e1e2f;
  color: #ffffff;
  overflow-x: hidden;
}

.curve {
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 0;
  z-index: 0;
}

.curve::before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 100% 50%;
  width: 50%;
  height: 100%;
  background-color: #202731;
  transform: translate(85%, 60%);
}

.curve::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 100% 50%;
  width: 50%;
  height: 100%;
  background-color: #3c31dd;
  transform: translate(-4%, 40%);
  z-index: -1;
}